<main>
    <article class="home">
        <h1>Lista de produtos</h1>
  
        {{#each  produtos}}
        
        <uppercase>
            <h2>{{dataValues.nome}}</h2>
        </uppercase>
        <p >Preço: R$ {{dataValues.preco}}</p>

        <form action="/apagarProdutos/{{dataValues.id}}" method="POST" class="delete">
            <button id="excluir">EXCLUIR</button>
        </form>

        <a href="/edicao/{{dataValues.id}}"><button>Editar</button></a>

        <hr>

        {{/each}}
        
        <div class="cadastrar">
            <a href="/produtos"> <button>CADASTRAR PRODUTOS</button></a>
        </div>
    </article>

</main>