<h1>Cadastrar produtos</h1>

<form action="/addProdutos" method="POST">
    
    <p>Nome: </p>
    <input type="text" name="nome" placeholder="Nome do produto">

    <p>Preço: </p>
    <input type="number" name="preco" placeholder="R$ 0.00"><hr>

    <button type="submit"> 
        Enviar
    </button>
    
</form>

<a href="/"> <button>LISTA DE PRODUTOS</button></a>

