<main>
    <article class="prodCadastrado">
        <h1 id="ProdutoCadastrado">Produto cadastrado!</h1>
        <div>
            <a href="/produtos"> <button>CADASTRAR NOVO PRODUTO</button></a>
        </div>
        <div>
            <a href="/"> <button>VER TODOS OS PRODUTOS</button></a>
        </div>
    </article>
</main>