@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --cor1: #373755;
    --cor2: #cfcfe2;
    --cor3: #ffffff;
    --cor4: #0e0e4a;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body{
    background-color: var(--cor3);
    
}


.home{
    background-color: var(--cor1);
    font-family: 'Roboto', sans-serif;
    color: var(--cor3);
    margin: auto;
    padding: 1em;
    max-width: 30em;
    background-color: var(--cor1);
    border-radius: 1em;
}

h1, h3, p{
    padding: 0.5em 0;
    
}

h1{
    font-size: 2em;
    text-align: center;
}

#ProdutoCadastrado{
    font-size: 1.7em;
    text-align: center;
}

.CadastroDeProdutos{
    background-color: var(--cor1);
    font-family: 'Roboto', sans-serif;
    color: var(--cor3);
    margin: auto;
    padding: 1em;
    max-width: 30em;
    background-color: var(--cor1);
    border-radius: 1em;
    margin-top: 12%;
}

.prodCadastrado{
    background-color: var(--cor1);
    font-family: 'Roboto', sans-serif;
    color: var(--cor3);
    margin: auto;
    padding: 1em;
    max-width: 30em;
    background-color: var(--cor1);
    border-radius: 1em;
    margin-top: 15%;
}

button{
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font:  15px;
    margin: 1em 0;
    border-radius: 1em;
    width: 18em;
    height: 2.5em;
    background-color: var(--cor2);
    color: var(--cor4);
}
.verprodutos, .cadastrar, .todosProdutos{
    width: 18em;
    margin: auto; 
}

.delete, #excluir{
    width: 5em;
    margin-right: auto;
    border-radius: 0.2em;
    height: 1.5em;
    margin: 0;
    margin-bottom: 0.3em;

}

hr{
    margin: 1em 0;
}

button:hover{
    
    background-color: var(--cor4);
    color: var(--cor2);
    font: bold 15px 'Roboto', sans-serif ;

}